body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.title{
  font-size : 32px;
  font-weight: bold;
}

.move-button {
  border: 5px solid white;
  border-radius: 120px;
  background-color: transparent;
  height: 120px;
  width: 120px;
  margin: 10px;
  cursor: pointer;
}

.move-icon {
  height: 60px;
}

.result {
  font-size: 26px;
  font-weight: bold;
  margin-top: 40px;
}

.score {
  margin-top: 25px;
  font-weight: bold;
}

.reset-score,
.auto-play,
.yes-reset-score,
.no-reset-score {
  background-color:whitesmoke;
  border : none;
  font-size: 16px;
  padding: 8px 15px;
  margin: 1px;
  cursor: pointer;
}